.copyright__text {
  text-transform: uppercase;
  color: $basic-black;
  padding-right: 13px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link {
  &:hover {
    fill: $light-blue;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
