.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
}

.container {
  max-width: 1343px;
  margin: 0 auto;
}

.page__container {
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}
