.popup-succes {
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: $basic-white;

  display: none;
  flex-direction: column;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  top: 400px;

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.popup-succes__info {
  margin: 0 auto;
  padding: 30px 39px 0 37px;

  @media (min-width: $tablet-width) {
    padding: 30px 39px 0 37px;
  }
}

.popup-succes__title {
  font-size: 18px;
  line-height: 26px;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    font-size: 30px;

    margin-bottom: 37px;
  }
}

.popup-succes__description {
  line-height: 24px;
  color: $basic-grey;
  text-transform: uppercase;
  margin-bottom: 53px;
}

.popup-succes-btn__container {
  background-color: $background-grey;
}

.popup-succes__button {
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 18px 62px 14px 60px;
  margin: 20px;
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    padding: 18px 140px 14px 139px;
  }
}
