.advantages__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.advantages__subtitle {
  text-transform: uppercase;
  color: $basic-grey;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    flex-wrap: wrap;
  }

  &--theme-grey {
    background-color: $light-grey;
  }
}

.advantages__item {
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--top {
      margin-top: 96px;
    }
  }

  &--theme-grey {
    padding-left: 35px;
    padding-right: 35px;

    &:nth-child(-n + 2) {
      border-bottom: 1px solid #d6d6d6;

      @media (min-width: $tablet-width) {
        border: none;
        padding-bottom: 41px;
      }

      @media (min-width: $desktop-width) {
        border: none;
        padding-bottom: 80px;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--title-block {
    background-color: $light-blue;
    box-sizing: content-box;

    @media (max-width: $mobile-width-only) {
      // padding: 55px 12px 39px 13px;
    }

    @media (min-width: $tablet-width) {
      // padding: 43px 36px 40px 36px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 68px 56px 69px;
    }
  }

  &--housing::before {
    content: "";
    display: block;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    position: absolute;
    top: -10px;
    left: 19px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-house-tablet.svg");
      width: 75px;
      height: 72px;
      top: -86px;
      left: 64px;
    }

    @media (min-width: $desktop-width) {
      left: 107px;
    }
  }

  &--souvenirs::before {
    content: "";
    display: block;
    background-image: url("../img/icon-souvenirs.svg");
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    position: absolute;
    top: -10px;
    left: 19px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-souvenirs-tablet.svg");
      width: 64px;
      height: 75px;
      top: -86px;
      left: 70px;
    }

    @media (min-width: $desktop-width) {
      left: 110px;
    }
  }

  &--food::before {
    content: "";
    display: block;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    position: absolute;
    top: -10px;
    left: 19px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-burger-tablet.svg");
      width: 76px;
      height: 68px;
      top: -86px;
      left: 65px;
    }

    @media (min-width: $desktop-width) {
      left: 105px;
    }
  }
}

.advantages__item::before {
  @media (max-width: $mobile-width-only) {
    top: -10px;
  }
}

.advantages__title {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 43px;

    br {
      display: none;
    }
  }

  &--theme-grey {
    padding-top: 42px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      max-width: 120px;
    }
  }

  &--block {
    color: $basic-white;
    padding-top: 39px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
      line-height: 26px;
      padding-top: 0;
    }
  }

  &--left {
    text-align: left;
    margin-left: 69px;

    @media (min-width: $tablet-width) {
      margin: 0;
      text-align: center;
      margin-bottom: 31px;
      margin-top: 22px;
    }
  }

  &--decor-block {
    @media (min-width: $tablet-width) {
      padding: 43px 36px 0 36px;
    }
  }

  &--main {
    @media (max-width: $tablet-width) {
      max-width: 520px;
      margin: 0 auto;
      margin-bottom: 34px;
    }
  }
}

.advantages__img {
  height: auto;

  @media (min-width: $tablet-width) {
    min-width: 512px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 800px;
    height: auto;
  }
}

.advantages__number {
  display: block;
  color: $basic-white;
  font-size: 14px;
  margin-bottom: 27px;

  &--item {
    display: block;
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.advantages__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: $basic-grey;
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    max-width: 200px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 286px;
  }

  &--block {
    color: $basic-white;

    @media (min-width: $mobile-width-only) {
      padding-bottom: 42px;
    }

    @media (min-width: $tablet-width) {
      max-width: 200px;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      max-width: none;
    }
  }

  &--left {
    text-align: left;
    margin-left: 69px;

    @media (min-width: $tablet-width) {
      text-align: center;
      margin-left: 0;
    }
  }
}

.advantages__description-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    height: 256px;
    justify-content: center;
  }
}

.advantages__description-container--bridge {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.advantages__picture {
  height: 260px;
}

.advantages__item--decor-block {
  background-image: url("../img/advantages-description-decor.svg");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 36px;
  background-size: contain;

  @media (min-width: 500px) {
    padding-top: 75px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    background-size: auto;
    background-image: none;
  }
}
