.contact__item {
  position: relative;

  &--contact label {
    padding-left: 20px;
    margin-bottom: 8px;
    display: block;

    @media (min-width: $desktop-width) {
      padding-left: 0;
      margin-bottom: 0;
    }
  }

  &--contact input {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--contact:nth-child(2) input:last-child {
    margin-bottom: 28px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    &--contact:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    color: $basic-white;
    flex-wrap: wrap;
  }
}

.contact__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 79px;
  }
}

.contact__input {
  background-image: url("../img/phone.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
  background-repeat: no-repeat;
  background-position: right 17px top 50%, 0 0;

  @media (min-width: $desktop-width) {
    width: 0;
    flex-grow: 1;
  }
}
