.description-text-block {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    max-width: 435px;
    margin-bottom: 61px;
  }

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.description-text-block--bottom {
  border-bottom: none;
}

.description-text-block__subtitle {
  line-height: 24px;
  color: $basic-grey;
  max-width: 266px;
  margin: 0 auto;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    max-width: 426px;
  }
}

.description-text-block__container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.description-text-block__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}
