.form__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.form__container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__descriprtion {
  @media (min-width: $tablet-width) {
    text-align: end;
    margin-top: 19px;
  }
}
