.impression__input + label::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: $background-grey;
  border-radius: 50%;
  left: 0;
}

.impression__item {
  position: relative;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.impression__label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;

  @media (min-width: $tablet-width) {
    padding-left: 72px;
    justify-content: start;
  }
}

.impression__input:checked + label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: $basic-black;
  border-radius: 50%;
  left: 15px;
}
