.page-header__slogan {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 32px;
  padding-top: 90px;
  height: 389px;
  text-align: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-desktop.jpg");
    height: 518px;
    margin-bottom: 55px;
    // margin-top: -53px;
    padding-top: 77px;
    background-size: 1200px, cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.page-header__slogan--catalog {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 32px;
  padding-top: 60px;
  height: 158px;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet-catalog.jpg");
    height: 518px;
    margin-bottom: 55px;
    margin-top: -161px;
    padding-top: 308px;
    background-size: 1200px, cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet-catalog@2x.jpg");
    }
  }
}

.page-header__logo {
  max-width: 102px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: -42px;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: auto;
  }

  @media (min-width: $desktop-width) {
    left: 46%;
  }
}

.page-header__container {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1036px;
  }
}

.page-header__logo-image {
  @media (min-width: $desktop-width) {
    width: 187px;
    height: 96px;
    max-width: none;
  }
}
