.review__button {
  padding: 20px 31px 15px 32px;
  display: block;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
}

.review__form {
  @media (min-width: $tablet-width) {
    margin-bottom: 97px;
  }
}

.review__impression-block {
  @media (min-width: $tablet-width) {
    order: -1;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        width: 1px;
        height: 261px;
        position: absolute;
        background-color: #dbdbdb;
        top: 0;
        right: 50%;
      }
    }
  }
}

.review__contact-info-block {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.review__visited-block {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
    position: relative;
    margin-bottom: 35px;
  }
}

.review__emotions {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
    text-align: center;
    position: relative;
  }
}

.review__title {
  margin-bottom: 30px;

  @media (max-width: $mobile-width-only) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    font-weight: 700;

    &--main {
      text-align: center;
      display: flex;
      align-items: center;
      max-width: 306px;

      &::after,
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 280px;
        background-color: #dbdbdb;
      }

      &::after {
        right: 0;
      }

      &::before {
        left: 0;
      }
    }
  }
}

.review__client-block {
  @media (min-width: $tablet-width) {
    padding-left: 63px;
    margin-bottom: 73px;
  }
}

.review__title-contact-info {
  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.review__title-attractions {
  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.review__title-emotions {
  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.review__title-impression {
  @media (min-width: $desktop-width) {
    margin-left: 72px;
    font-size: 21px;
    margin-bottom: 72px;
  }
}

.review__title-introduce {
  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 54px;
  }
}
